* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  background-image: url('./IMAGENES/Starsinthesky.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

#contenedor {
  display: flex;
  justify-content: space-between;
}

img {
  width: 100px;
  height: 100px;
  display: inline-block;
}

header {
  background-color: #080425;
  width: 100%;
}

#formulario {
  border:1px solid rgb(255, 255, 255);
  padding:1rem;
  border-radius: 0.5rem;
  background: #080425;
}

#usuario,
#clave {
  color: white;
}

#BotonLogin {
  margin-top: 12px;
  display: inline-block;
}